*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #141414;
}

/*view heights styling*/

.vh-7-5{
    height: 7.5vh;
}
.vh-70{
    height: 70vh;
}
.vh-90{
    height: 80vh;
}
.h-91{
    height: 75%;
}
.min-w{
    min-width: 300px;
}
.w-90{
    width: 90%;
}
.max-w{
    max-width: 500px ;
}
.vw-90{
    width: 80vw;
}
.h-50{
    height: 200px;
}
/*font size styling*/

.fs-l{
    font-size: 3rem;
}
.fs-m-l{
    font-size: 2.4rem;
}
.fs-m{
    font-size: 1.8rem;
}
.fs-s{
    font-size: 1.2rem;
}
.fs-xs{
    font-size: 0.6rem;
}

/*coloring styling*/
.primary-bg-color{
    background-color: #141414;
}

.primary-text-color{
    color:#f4f4f9
}
.hilight-text-color{
    color: #9f79ff;
}

.border-primary{
    border-color: #f4f4f9 !important;
}

/*delete container*/
.delete-container span{
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.delete-container span:hover{
    transform: scale(1.1);
    color: #9f79ff;
}

/*custom border*/
.custom-border-bottom{
    border-bottom: solid 1.5px #9f79ff;
}
.custom-border-top{
    border-top: solid 1.5px #9f79ff;
}
.custom-main-border{
    border-right: solid 1.5px #9f79ff;
    border-left: solid 1.5px #9f79ff;
}

/*credit styling*/
.credit{
    transition: all 0.3s ease-out;
}
.credit:hover{
    transform: scale(1.1);
    font-size: 1.3rem;
    cursor:pointer;
}
/*custom scrolling bar*/

@media screen and (min-width: 768px) {
    /* Style the scrollbar */
    .custom-scrollbar::-webkit-scrollbar {
        width: 1px; /* Set the width of the scrollbar */
        height: 4px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: #f4f4f9; /* Set the track color */
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background:#9f79ff; /* Set the scrollbar color */
        border-radius: 10px; /* Set rounded corners */
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #555; /* Set color when hovering over the scrollbar */
    }
    /* Main scrollbar styles */
    .custom-scrollbar-main::-webkit-scrollbar {
        width: 5px; /* Width of the scrollbar */
        height: 1px;
    }

    /* Track (scrollbar background) */
    .custom-scrollbar-main::-webkit-scrollbar-track {
        background: #f4f4f9; /* Light background for the track */
    }

    /* Thumb (scrollable part) */
    .custom-scrollbar-main::-webkit-scrollbar-thumb {
        background: #9f79ff; /* Custom purple color */
        border-radius: 1px; /* Rounded corners */

    }

    /* Hover state for thumb */
    .custom-scrollbar-main::-webkit-scrollbar-thumb:hover {
        background: #7a4fd6; /* Slightly darker purple on hover */
    }

}
/*pop up message*/
.popup-message {
    animation: slide-up 2s ease-out;
}

/* Keyframes for the bottom to top slide */
@keyframes slide-up {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 768px) {
    .fs-l{
        font-size: 1.8rem;
    }
    .fs-m{
        font-size: 1.2rem;
    }
    .delete-container span{
        font-size: 1.5rem;
    }
}
