*{
    font-size: 1rem;
    cursor: none;
}
.custom-button{
    border: solid 0.1px #f4f4f9;
    color: #f4f4f4;
    padding-right: 2rem;
    position: relative;
    width: 75px;
}
.custom-button::after{
    position: absolute;
    top: 46%;
    right:24%;
}
.custom-dropdown {
    background-color: #141414 !important; /* Transparent background */
    border: 0.1px solid rgba(255, 255, 255, 0.5); /* Semi-transparent border */
}

.custom-dropdown .dropdown-item {
    color: #fff; /* Text color */
    border: 0.1px solid transparent; /* Invisible border initially */
    padding:0.5rem 0.5rem; /* Add padding for spacing inside the border */
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Smooth transition for border and background */

}

.custom-dropdown .dropdown-item:hover,
.custom-dropdown .dropdown-item:focus {
    border: 0.1px solid rgba(255, 255, 255, 0.8); /* Border becomes visible on hover */
    background-color: #9f79ff; /* Subtle hover background effect */
    color: #fff; /* Maintain text color */

}

.custom-dropdown .dropdown-divider {
    border-color: rgba(0, 255, 157, 0.5); /* Adjust divider color */

}
.dropdown-menu{
    --bs-dropdown-min-width : 75px;
}
.btn:hover{
    border: 0.1px solid #9f79ff;
}
@media screen and (max-width: 768px) {
    *{
        font-size: 0.8rem;
    }
    .custom-button{
        width: 50px;
    }
    .dropdown-menu{
        --bs-dropdown-min-width : 50px;
    }
}