*{
    font-size: 1rem;
}
.custom-button{
    border: solid 1px #f4f4f9;
    color: #f4f4f4;
    padding-right: 2rem;
    position: relative;

}
.custom-button::after{
    position: absolute;
    top: 46%;
    right:24%;
}
.custom-dropdown {
    background-color: transparent !important; /* Transparent background */
    border: 1px solid rgba(255, 255, 255, 0.5); /* Semi-transparent border */
}

.custom-dropdown .dropdown-item {
    color: #fff; /* Text color */
    border: 1px solid transparent; /* Invisible border initially */
    padding:0.5rem 1rem; /* Add padding for spacing inside the border */
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Smooth transition for border and background */
}

.custom-dropdown .dropdown-item:hover,
.custom-dropdown .dropdown-item:focus {
    border: 1px solid rgba(255, 255, 255, 0.8); /* Border becomes visible on hover */
    background-color: rgba(255, 255, 255, 0.1); /* Subtle hover background effect */
    color: #fff; /* Maintain text color */
}

.custom-dropdown .dropdown-divider {
    border-color: rgba(255, 255, 255, 0.5); /* Adjust divider color */
}
@media screen and (max-width: 768px) {
    *{
        font-size: 0.8rem;
    }
}