*{
    text-transform: capitalize;
}
.input {
    color: #fff;
    font-size: 1rem;
    background-color: transparent;
    width: 100%; /*need to change*/
    box-sizing: border-box;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-border {
    position: absolute;
    border-radius: 20px;
    width: 0;
    height: 3px;
    bottom: -2%;
    left: 0;
    transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus {
    outline: none;
}

.input:focus + .input-border {
    width: 100%;
}

.form-control {
    background-color: #141414;
    position: relative;
    width: 100%;
    border: none;
}

.input-alt {
    width: 100%;
    font-size: 1.2rem;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-border-alt {

    height: 1px;
    background: linear-gradient(90deg, rgba(159, 121, 255, 1) 0%, rgba(159, 121, 255, 0.8) 74%, rgba(159, 121, 255, 1) 100%);
    transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
}

.input-alt:focus + .input-border-alt {
    width: 100%;
}
@media screen and (max-width: 768px) {
    .input{
        font-size: 1rem;
    }
}